<div class='compare-container'>
  <header class='splashHeader'>
    <h3 class='splashLogo comparelogo'>Rain or Shine</h3>
  </header>
  <div>
    <h2>Find Your Paradise!</h2>
    <h3>Input each city that you want to compare into the search boxes below!</h3>
  </div>
  <div class='compare-wrapper'>
    <div class='left compare-box'>
      <compare-input-dir
        searching="searching1"
        get-weekly="getWeekly(state, city)"
        get-weather="getWeather(state, city)"
        display-weather="displayWeather(response, scope)"
        display-weekly="displayWeekly(response, scope)"
        weeklys="weekly1"
        weather="weather1"
      ></compare-input-dir>
      <current-conditions-dir
        searching="searching1"
        weather="weather1"
      ></current-conditions-dir>
      <weekly-dir
        weeklys="weekly1"
      ></weekly-dir>
    </div>
    <div class='right compare-box'>
      <compare-input-dir
        searching="searching2"
        get-weekly="getWeekly(state, city)"
        get-weather="getWeather(state, city)"
        display-weather="displayWeather(response, scope)"
        display-weekly="displayWeekly(response, scope)"
        weeklys="weekly2"
        weather="weather2"
      ></compare-input-dir>
      <current-conditions-dir
        searching="searching2"
        weather="weather2"
      ></current-conditions-dir>
      <weekly-dir
        weeklys="weekly2"
      ></weekly-dir>
    </div>
  </div>
</div>

<script>
  angular.element(document).ready(function(){
    $('#example').tooltip(options)

  })

</script>
