<div class='compare-container'>
  <header class='splashHeader'>
    <h3 class='splashLogo comparelogo'>Rain or Shine</h3>
  </header>
  <div class='compare-wrapper'>
    <div class='left compare-box'>
      <compare-input-dir></compare-input-dir>
      <current-conditions-dir></current-conditions-dir>
      <weekly-dir></weekly-dir>
    </div>
    <div class='right compare-box'>
      <!-- <compare-input-dir city='city' state='state'></compare-input-dir>
      <current-conditions-dir></current-conditions-dir> -->
    </div>
  </div>
</div>
