<div class="currentweather">
  <h1>{{location}}</h1>
  <div class='large-display'>
    <h1 class='current-temp'>{{temp}}</h1>
    <img class='current-icon'src='{{icon}}' />
  </div>
  <div class='condit-desc'>
    <h4>{{weather}}</h4>
  </div>
  <div class='small-display-wrapper'>
    <div class='small-display'>
      <h3>Wind</h3>
      <h5 class='wind_string'>{{wind}} MPH</h5>
    </div>
    <div class='small-display feelslike'>
      <h3>Feels Like</h3>
      <h5>{{feelslike}}</h5>
    </div>
  </div>
    {{observation_time}}
  </div>
