<div class="currentweather">
  <h1>{{weather.location}}</h1>
  <div class='large-display'>
    <h1 class='current-temp'>{{weather.temp}}</h1>
    <img class='current-icon'src='{{weather.icon}}' />
  </div>
  <div class='condit-desc'>
    <h4>{{weather.weather}}</h4>
  </div>
  <div class='small-display-wrapper'>
    <div class='small-display'>
      <h3>Wind</h3>
      <h5 class='wind_string'>{{weather.wind}} MPH</h5>
    </div>
    <div class='small-display feelslike'>
      <h3>Feels Like</h3>
      <h5>{{weather.feelslike}}</h5>
    </div>
  </div>
    {{weather.observation_time}}
  </div>
