<div class='main-wrapper'>
<nav class="main-nav">
  <h3 class='splashLogo'>Rain Or Shine</h3>
  <div>
      <input-dir></input-dir>
  </div>
</nav>
  <main>
    <section class='left'>
      <div class="currentweather">
        <h1>{{location}}</h1>
        <div class='large-display'>
          <h1 class='current-temp'>{{temp}}</h1>
          <img class='current-icon'src='{{icon}}' />
        </div>
        <div class='condit-desc'>
          <h4>{{weather}}</h4>
        </div>
        <div class='small-display-wrapper'>
          <div class='small-display'>
            <h3>Wind</h3>
            <h5 class='wind_string'>{{wind}} MPH</h5>
          </div>
          <div class='small-display feelslike'>
            <h3>Feels Like</h3>
            <h5>{{feelslike}}</h5>
          </div>
        </div>
          {{observation_time}}
        </div>

        <div class='other-info'>
          <h2>Additional Information</h2>
          <div class='info-wrapper'>
            <h3>Observation Location<h3><h5>{{observation_location}}</h5> <br />
            <h3>Coordinates</h3><h5>{{latitude}}, {{longitude}}</h5><br />
            <h3>Humidity</h3><h5>{{humidity}}</h5><br />
            <h3>Wind Gusts</h3><h5> {{wind_gust}}MPH</h5>
          </div>
        </div>
      <div class="compare">
        <a ui-sref='compare'>Compare</a>
      </div>
    </section>
    <section class='right'>
        <h1 class='scroll-label'>Hourly</h1>
      <div class="hourly">
        <li class='hourlylist' ng-repeat="hourly in hourlys">
          {{hourly.time}}
          <img class = 'hourly-icon' src="{{hourly.icon}}" />
          {{hourly.temp}}°
        </li>
     </div>
       <h1 class='scroll-label'>Daily</h1>
        <div class="hourly">
          <li class='hourlylist' ng-repeat="weekly in weeklys">
            {{weekly.weekday}}<br /> {{weekly.month}} {{weekly.day}}
            <img class = 'hourly-icon' src="{{weekly.icon}}" />
            High: {{weekly.high}}°
            Low: {{weekly.low}}°
          </li>
      </div>

      <img class="radar" ng-src="{{radar}}" alt="">
    </section>
  </main>
</div>
