*{
  margin: 0;
}
.compare-container{
  height: calc(100vh + 100px);
  width: 100%;
  background: url(../images/main6.jpg) center center fixed;
  align-items: center;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
.comparelogo{
  color: white;
}
.compare-wrapper{
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}
.compare-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.compare-wk{
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  margin-right: 0px;
  max-width: 100%;
  height: 250px;
}
.compare-wk-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
