*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.splashContainer{
  height: 100vh;
  width: 100%;
  background: url('../images/splash.jpg') no-repeat center center;
  background-size: cover;

  color: #fff;
}
.splashHeader{
  height: 10%;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.splashLogo{
  font-size: 30px;
}
.div-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.md-input-container{
  margin-right: 10px;
  color: #fff;
}
.label{
  color: #fff;
}
.input-wrapper{
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-list{
  display: inline;
}
.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  background: transparent;
  border-bottom: solid 2px #c9c9c9;
  color: #fff;

}
input::placeholder{
  color: white;
}
input:focus{
  outline-width: 0;
}

.splash-button{
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  color: white;
  margin-left: 10px;
}
